name: Build & Push Dependency (ARM64)

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Which dependency to build"
        required: true
        type: choice
        options:
          - build_materialx
          - build_openpgl
          - build_manifold
          - build_alembic

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push selected target
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/workflows/Dockerfile
          target: ${{ inputs.target }}
          platforms: linux/arm64
          push: true
          tags: |
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/blender-builder:${{ inputs.target }}
